@import url('https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation');



body { font: 18pt Rancho; }
h1, h2, h3 { font-family: 'Rancho'; font-weight: normal;}
button { font-size: 12pt; padding: 30px; }